.access {
    height: 720px;
    background-color: $light-beige;
    padding: 261px 0 70px;
    min-width: 610px;
    font-family: "Roboto Mono for Powerline", sans-serif;
    @include tab {
        padding: 60px 0;
    }
    @include sp {
        min-width: 0px;
    }
    .title {
        margin-left: 8%;
    }
    .info {
        display: flex;
        @include sp {
            flex-direction: column-reverse;
        }
    }
}

.ac-wrap {
    width: 40%;
    height: 400px;
    background-color: $dark-beige;
    align-items: center;
    padding-left: 8%;
    padding-top: 100px;
    @include sp {
        width: 100%;
        height: 282px;
        padding-top: 30px;
    }
    &__top {
        color: #00000038;
        font-size: 2.4rem;
        margin-bottom: 30px;
        font-weight: bold;
    }
    p {
        color: white;
        margin-bottom: 24px;
        &:last-child {
            margin: 0;
        }
    }

}
.map {
    height: 400px;
    width: 60%;
    @include sp {
        width: 100%;
        height: 231px;
    }
}