$light-beige: #A193861F;
$dark-beige: #D0C5BA;
$gray: #707070;

@mixin pc {
    @media screen and (min-width: 961px){
        @content;
    }
}

@mixin tab {
    @media screen and (max-width: 960px){
        @content;
    }
}
@mixin sp {
    @media screen and (max-width: 600px){
        @content;
    }
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
}

.title {
    font-size: 2.4rem;
    color: $gray;
    margin-bottom: 11px;
    font-family: Roboto, sans-serif;
    @include tab {
        margin-bottom: 50px;
    }
    &:after {
        display: inline-block;
        content: "";
        width: 95px;
        height: 1px;
        background-color:$gray;
        margin: 0 0 4px 20px;
        @include tab {
            width: 44px;
        }
    }
}

.inner {
    padding: 261px 8% 70px;
    @include tab {
        padding: 60px 5% 76px;
    }
}