footer {
    padding: 165px 8% 62px;
    height: 115px;
    @include tab {
        height: 260px;
        padding: 62px 5% 0;
    }
}
.footer-wrap {
    padding-top: 83px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #70707036;
    font-family: "Roboto Mono for Powerline", sans-serif;
    @include tab {
        height: 177px;
        flex-direction: column-reverse;
        padding-top: 60px;
    }
    
    .footer-left {
        display: flex;
        height: 37px;
        line-height: 37px;
        justify-content: space-between;
        &__title {
            margin-right: 32px;
            font-size: 3.2rem;
            color: #7070704D;
            @include tab {
                font-size: 1.8rem;            }
        }
        .icon {
            width: 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .fab {
                font-size: 20px;
            }
        }
    }
    .footer-right {
        width: 184px;
        height: 37px;
        border: 1px solid $gray;
        padding: 9px 41px;
        font-size: 1.8rem;
        @include tab {
            width: 184px;
            height: 37px;
            margin: 0 auto;
        }
    }
}