header {
    display: flex;
    width: 700%;
    position: absolute;
    z-index: 10;
    top: 77px;
    left: 8%;
    height: 38px;
    font-family: "Roboto Mono for Powerline", sans-serif;
    @include tab {
        position: unset;
        padding: 0 6%;
        align-items: center;
        height: 70px;
        width: 100%;
        background-color: #fff;
        justify-content: space-between;
    }
    .header-logo {
        font-size: 3.8rem;
        @include tab {
            font-size: 2.2rem;
        }
    }
    .pc-nav {
        @include tab {
            display: none;
        }
        display: flex;
        height: 100%;
        font-size: 1.8rem;
        width: 400px;
        ul {
            
            height: 100%;
            color: $gray;
            li {
                display: inline-block;
                margin: 10px 0 0 20px;

            }
            li:hover {
                color: #000000;
                border-bottom: 1px solid #000000;
            }
        }
    }
    .ham {
        display: none;
        @include tab {
            width: 18px;
            height: 14px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .long {
                width: 100%;
                height: 1px;
                display: inline-block;
                background-color: #3B4043;
            }
            .short {
                width: 60%;
                height: 1px;
                display: inline-block;
                background-color: #3B4043;
            }
        }
    }
}