$menu-space: 35px;
.menu {
    font-family: "Roboto Mono for Powerline", sans-serif;
    &__content {
        display: flex;
        justify-content: space-between;
        @include tab {
            flex-direction: column;
        }
    }
    &__wrap {
        width: 25%;
        @include tab {
            width: 100%;
            margin: 0 auto;
        }
        img {
            width: 100%;
            margin-bottom: $menu-space;
            @include tab {
                margin-bottom: 30px;
            }
        }
        .menu-title {
            font-size: 3rem;
            margin-bottom: $menu-space;
            text-align: center;
            @include tab {
                text-align: unset;
                margin:0 4% 30px 4%;
            }
        }
        p {
            width: 93%;
        }
        .sentence {
            margin: 0 auto;
            margin-bottom: $menu-space;
                        @include tab {
                            margin:0 4% 26px 4%;
                        }
        }
        .price {
            text-align: right;
            @include tab{
                margin-bottom: 60px;
            }
        }
        &:nth-child(3) {
            .price {
                @include tab {
                    margin-bottom: 0;
                }
            }
        }
    }
}